// Base settings //////////////////////////////////////////////////////////////////////////////////

// Only display submit button for one post type
// Options: "link" / "self" / "all"
$submission-type: all;

// Set this to false if you don't want any thumbnails.
// This is a good option if you only have self-posts.
$display-thumbnails: true;

// Labels for submit buttons
$link-post-label: "Share a link";
$self-post-label: "Discuss";

// Labels for "subscribers" and "users here now"
$subscribers: "Subscribers:";
$users-here-now: "Visiting now:";

// Set the number of columns in the sidebar "MODERATORS" box.
// This can reduce white space, but may not work well if any
// mods have long usernames and/or flairs.
$mod-column-count: 2;


// Day-mode colors
$base-main-color: #3C4D5D;
$base-background-color: #ccd1d6;
$base-content-background: #fff;

$base-link-color: #2E5591;
$base-link-visited-color: #717;

$base-upvoat-color: #3395DB;
$base-downvoat-color: #9A12B5;
$base-submit-button-color: #B23F12;

// Use CSS background shorthand property
// e.g. url("http://example.com/foo.jpg") no-repeat center top fixed;
$base-background-image: none;


// Night-mode colors
$base-dark-main-color: #333;
$base-dark-background-color: #171717;
$base-dark-content-background: #212121;

$base-dark-link-color: #4A7AB1;
$base-dark-link-visited-color: #715099;

$base-dark-upvoat-color: #538CC6;
$base-dark-downvoat-color: #715099;
$base-dark-submit-button-color: #3E5974;

// Use CSS background shorthand property
// e.g. url("http://example.com/foo.jpg") no-repeat center top fixed;
$base-dark-background-image: none;


// Determine hue and saturation from above colors //////////////////////////////////////////////////

$hue-m: hue($base-main-color);
$sat-m: saturation($base-main-color);

$hue-b: hue($base-background-color);
$sat-b: saturation($base-background-color);


$hue-dm: hue($base-dark-main-color);
$sat-dm: saturation($base-dark-main-color);

$hue-db: hue($base-dark-background-color);
$sat-db: saturation($base-dark-background-color);


// Advanced settings ///////////////////////////////////////////////////////////////////////////////

// Colors, day-mode ////////////////////////////////////////////////////////////////////////////////

// Base
$text-color: #111;
$link-color: $base-link-color;
$link-color-hover: darken($link-color, 20%);
$link-color-visited: $base-link-visited-color;
$link-color-visited-hover: darken($link-color-visited, 20%);
$body-background: $base-background-color;
$body-background-image: $base-background-image;
$text-input-border: 1px solid hsla(0, 0%, 0%, 0.2);

$upvoat-color: $base-upvoat-color;
$downvoat-color: $base-downvoat-color;
$unvoated-color: #aaa;

$submit-button-text-color: #fff;
$submit-button-background: $base-submit-button-color;
$submit-button-background-hover: darken($submit-button-background, 10%);

$text-selection-background: hsla(0, 0%, 0%, 0.6);
$text-selection-color: #fff !important;

// Header
$header-link-color: #fff;
$header-background: hsl($hue-m, $sat-m, 30%);
$header-background-alt: darken($header-background, 5%);
$mailbox-alert-background: hsl(40, 100%, 45%);

$dropdown-menu-background: darken($header-background-alt, 5%);
$dropdown-menu-item-hover: darken($dropdown-menu-background, 5%);

// Content
$submission-background: $base-content-background;
$thumbnail-icon-color: $submission-background;
$thumbnail-background: hsl($hue-b, $sat-b/4, 50%);

$comment-background: $submission-background;
$comment-background-alt: hsl($hue-b, 10%, 95%);

$code-background: hsl(115, 30%, 33%);
$code-text-color: #fff;
$spoiler-background: hsl(30, 80%, 65%);
$spoiler-text-color: #000;
$blockquote-border-color: hsl(0, 0%, 50%);

// Sidebar
$sidebar-text-color: $text-color;
$sidebar-background: $submission-background;
$sidebar-title-text-color: $header-link-color;
$sidebar-title-background: lighten(desaturate($header-background, 15%), 5%);

// Footer
$footer-text-color: #000;
$footer-link-color: lighten($link-color, 10%);
$footer-link-color-hover: transparentize($footer-link-color, .25);
$footer-background: darken($body-background, 10%);

// Colors, night-mode //////////////////////////////////////////////////////////////////////////////

// Base
$dark-text-color: #ddd;
$dark-link-color: $base-dark-link-color;
$dark-link-color-hover: darken($dark-link-color, 20%);
$dark-link-color-visited: $base-dark-link-visited-color;
$dark-link-color-visited-hover: darken($dark-link-color-visited, 20%);
$dark-body-background: $base-dark-background-color;
$dark-body-background-image: $base-dark-background-image;
$dark-text-input-border: 1px solid hsla(0, 0%, 100%, 0.15);

$dark-upvoat-color: $base-dark-upvoat-color;
$dark-downvoat-color: $base-dark-downvoat-color;
$dark-unvoated-color: #555;

$dark-submit-button-text-color: #ddd;
$dark-submit-button-background: $base-dark-submit-button-color;
$dark-submit-button-background-hover: darken($dark-submit-button-background, 10%);

$dark-text-selection-background: hsla(0, 0%, 100%, 0.6);
$dark-text-selection-color: #000 !important;

// Header
$dark-header-link-color: #ddd;
$dark-header-background: $base-dark-main-color;
$dark-header-background-alt: darken($dark-header-background, 5%);
$dark-mailbox-alert-background: hsl(40,100%,45%);

$dark-dropdown-menu-background: darken($dark-header-background-alt, 5%);
$dark-dropdown-menu-item-hover: darken($dark-dropdown-menu-background, 5%);

// Content
$dark-submission-background: $base-dark-content-background;
$dark-thumbnail-icon-color: $dark-submission-background*2.5;
$dark-thumbnail-background: #000;

$dark-comment-background: $dark-submission-background;
$dark-comment-background-alt: hsl($hue-db, 10%, 6%);

$dark-code-background: darken($code-background, 8%);
$dark-code-text-color: #fff;
$dark-spoiler-background: hsl(30, 70%, 25%);
$dark-spoiler-text-color: #eee;
$dark-blockquote-border-color: hsl(0, 0%, 40%);

// Sidebar
$dark-sidebar-text-color: $dark-text-color;
$dark-sidebar-background: $dark-submission-background;
$dark-sidebar-title-text-color: $dark-header-link-color;
$dark-sidebar-title-background: darken(desaturate($dark-header-background, 15%), 5%);

// Footer
$dark-footer-text-color: $dark-text-color;
$dark-footer-link-color: lighten($dark-link-color, 10%);
$dark-footer-link-color-hover: transparentize($dark-footer-link-color, .25);
$dark-footer-background: darken($dark-body-background, 5%);

// Other settings //////////////////////////////////////////////////////////////////////////////////

$color-transition: ease .2s;
$border-radius: 2px;
