// Comments page ///////////////////////////////////////////////////////////////////////////////////

#firsttimevisitorwelcomemessage {
	background: $comment-background;
	
	.dark & {
		background: $dark-comment-background;
	}
}

.horizontal-line {
	display: none;
}

// Submit comment //////////////////////////////////////////////////////////////////////////////////

form[action="/submitcomment"] {
	margin-bottom: 10px;
	padding: 15px 15px 0;
	background: $comment-background;
	border-radius: $border-radius !important;
	
	.dark & {
		background: $dark-comment-background;
	}
}

#CommentContent {
	background: transparent;
	border: $text-input-border !important;
	border-radius: $border-radius !important;
	
	.dark & {
		border: $dark-text-input-border !important;
	}
}
	
.menuarea {
	margin: 0px;
	padding: 0 15px;
	background: $comment-background;
	
	.dark & {
		background: $dark-comment-background;
	}
	
	&:nth-child(8) {
		padding: 15px 15px 5px;
		border-radius: $border-radius $border-radius 0 0 !important;
	}

	&:nth-child(9) {
		padding: 5px 15px 15px;
		border-radius: 0 0 $border-radius $border-radius !important;
	}
}

// Comments ////////////////////////////////////////////////////////////////////////////////////////

.commentarea > .sitetable {
	margin-top: 10px;
	background: transparent;

	.midcol {
		width: 30px;
	}

	.arrow-upvote,
	.arrow-upvoted, 
	.arrow-downvote,
	.arrow-downvoted {
		width: 20px;
		height: 20px;
		font-size: 16px;
		text-align: center;
	}
	
	.child {
		margin-top: 10px;
		padding: 8px 8px 5px;
		background: $comment-background;
		border-radius: $border-radius !important;
		
		.dark & {
			background: $dark-comment-background;
		}
		
		> .entry {
			margin-right: 10px;
		}
	}

	> .child > .child ,
	> .child > .child > .child > .child,
	> .child > .child > .child > .child > .child > .child,
	> .child > .child > .child > .child > .child > .child > .child > .child {
		background: $comment-background-alt;
		
		.dark &	{
			background: $dark-comment-background-alt;
		}
	}
}
