// Markdown editor /////////////////////////////////////////////////////////////////////////////////

.markdownEditorMainMenu {
	margin: 0;
	border-radius: $border-radius $border-radius 0 0 !important;
}

.markdownEditorImgButton{
	margin: 0;
	width: 24px;
	height: 24px;
	background: transparent !important;
	text-align: center;

	&::before {
		font: 16px/24px "Cashmere icons";
		color: $link-color !important;
		
		.dark & {
			color: $dark-link-color !important;
		}
	}
	
	&:hover::before {
		color: $link-color-hover !important;
		
		.dark & {
			color: $dark-link-color-hover !important;
		}
	}
}

.markdownEditorImgButton[title="Bold"]::before {
	content: "\e616";
}

.markdownEditorImgButton[title="Italic"]::before {
	content: "\e617";
}

.markdownEditorImgButton[title="Link"]::before {
	content: "\e618";
}

#linkSubMenu,
#tableCreatorSubMenu {
	padding: 0;
	min-width: 50px;

	// Enter url
	input {
		height: 20px;
		line-height: 20px;
		background: transparent !important;
		border: $text-input-border !important;
		color: $text-color !important;
		
		.dark & {
			border: $dark-text-input-border !important;
			color: $dark-text-color !important;
		}
	}

	// Create link
	a {
		padding: 0 5px;
		height: 20px;
		line-height: 20px;
		font-weight: 500;
		background: transparent !important;
		color: $link-color !important;
		border-radius: 2px !important;
		
		.dark & {
			color: $dark-link-color !important;
		}
	}
}

.markdownEditorImgButton[title="Quote"]::before {
	content: "\e619";
}

.markdownEditorImgButton[title="Code"]::before {
	content: "\e61a";
}

.markdownEditorImgButton[title="Bullet List"]::before {
	content: "\e61b";
}

.markdownEditorImgButton[title="Number List"]::before {
	content: "\e61c";
}

.markdownEditorImgButton[title="Large Paragraph Spacing"]::before {  //
	content: "\e61d";
}

.markdownEditorImgButton[title="Horizontal Rule"]::before {  //
	content: "\2014";
	line-height: 20px;
	font-weight: 700;
}

.markdownEditorImgButton[title="Headings"]::before { 
	content: "H";
	font-family: "Roboto", sans-serif !important;
	font-weight: 700;
}

.markdownEditorImgButton[title^="Heading Level"] {
	font-size: 14px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	
	&::before {
		font-family: "Roboto", sans-serif !important;
		font-weight: 700;
	}
}

.markdownEditorImgButton[title="Heading Level 1"]::before {
	content: "H1";
}

.markdownEditorImgButton[title="Heading Level 2"]::before {
	content: "H2";
}

.markdownEditorImgButton[title="Heading Level 3"]::before {
	content: "H3";
}

.markdownEditorImgButton[title="Heading Level 4"]::before {
	content: "H4";
}

.markdownEditorImgButton[title="Heading Level 5"]::before {
	content: "H5";
}

.markdownEditorImgButton[title="Heading Level 6"]::before {
	content: "H6";
}

.markdownEditorImgButton[title="Table"]::before {
	content: "\e61f";
}

.markdownEditorImgButton[title="More Columns"]::before {
	content: "\e624";
}

.markdownEditorImgButton[title="Less Columns"]::before {
	content: "\e625";
}

.markdownEditorImgButton[title="More Rows"]::before {
	content: "\e626";
}

.markdownEditorImgButton[title="Less Rows"]::before {
	content: "\e627";
}

.markdownEditorTextButton[title="Create Table"]::before {
	
}

.markdownEditorImgButton[title="Spoiler"]::before {
	content: "\e620";
}

.markdownEditorImgButton[title="Strikethrough"]::before {
	content: "\e621";
}

.markdownEditorImgButton[title="Superscript"]::before {
	content: "\e622";
}

.markdownEditorImgButton[title="Subscript"]::before {
	content: "\e623";
}

